<!-- One -->
<section id="one" class="wrapper styleorange special">
	<div class="inner">
		<header class="major">
			<h2>Designing for the user <br> in safety-critical environments</h2>
			<p>I'm a user experience designer, user researcher, and human factors engineer specialized in the design of safety-critical products, particularly in the healthcare sector. Here, I  
				have been involved in the design of hardware products, embedded software, as well as digital services. I hold a Diploma in Industrial Design, a BSc in Psychology, 
				and am right now working towards my MSc (research) in Psychology with a focus on cognitive and computational neuroscience as well as neuropsychology. 
				<br><br> For a quick glance at my work and background, follow any of the direct links just below. <br>Or learn a little more through the following section links.
			</p>
		</header>
		<ul class="actions">
			<li><a href="portfolio" class="button icon fa-briefcase">Portfolio</a></li>
			<li><a href="safira" class="button icon fa-bar-chart"> Case Study <span style="text-transform: none;">SafIRa</span></a></li>
			<!-- <li><a href="cv" class="button icon fa-book">CV</a></li> -->
			<!-- <li><a href="material" class="button icon fa-share">Material</a></li> -->
		</ul>
	</div>
</section>