<section id="two" class="wrapper alt style2">
	{% for page in site.pages %} {% if page.layout == "sectionstart" %}
	<section class="spotlight">
		<div class="image">{% if page.image %}<img src="{% if site.featured-image-source %}{{ post.image | prepend: site.featured-image-source | absolute_url }}{% else %}{{ "" | absolute_url }}/assets/images/{{ page.image }}{% endif %}" alt="" />{% endif %}</div>
		<div class="content">
			<h2><a href="{{ page.url | relative_url }}" class="link">{{ page.title }}</a></h2>
			<p>{{ page.description }}</p>
		</div>
	</section>

	{% endif %} {% endfor %}

	{% for page in site.pages %} {% if page.layout == "aboutme" %}
	<section class="spotlight">
		<div class="image">{% if page.image %}<img src="{% if site.featured-image-source %}{{ post.image | prepend: site.featured-image-source | absolute_url }}{% else %}{{ "" | absolute_url }}/assets/images/{{ page.image }}{% endif %}" alt="" />{% endif %}</div>
		<div class="content">
			<h2><a href="{{ page.url | relative_url }}" class="link">{{ page.title }}</a></h2>
			<p>{{ page.description }}</p>
		</div>
	</section>

	{% endif %} {% endfor %}

</section>
